@media(min-width: 480px){
    
    /* Category section */

    .category-list > li{
        width: calc(50% - 15px);
    }

    /* product section */

    .product-list > li{
        width: calc(50% - 12.5px);
    }

    /* footer */

    .footer-brand{
        width: 100%;
    }

    .footer-text{
        max-width: 470px;
    }

    .footer-list{
        width: calc(50% -20px);
    }
}


/* Responsive for larger than 580px screen */ 

@media(min-width: 580px){

    /* Reused style */
    
    .container{
        max-width: 550px;
        margin-inline: auto;
    }
}

/* Responsive for larger than 768px screen */

@media(min-width: 768px){

    /* Reused style */

    .container{
        max-width: 700px;
    }

    /* Hero section */

    .hero{
        background-position: center;
        min-height: 800px;
    }

    /* newsletter section */

    .newsletter-card{
        max-width: 480px;
        margin-inline: auto;
    }

    .newsletter-card .card-form{
        position: relative;
    }

    .newsletter-card .input-wrapper{
        margin-bottom: 0;
    }

    .newsletter-card .btn{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: max-content;
        padding-inline: 35px;
        border-radius: 0 6px 6px 0;
    }

    /* footer */

    .footer-list{
        width: calc(33.33% - 26.66px);
    }

    .copyright, .footer-bottom-list{
        margin-bottom: 0;
    }

    .footer-bottom .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 25px 25px;
    }
}

/* Responsive for larger than 992px screen */

@media(min-width: 992px){
    
    /* Reused style */

    .container{
        max-width: 950px;
    }

    /* header */

    .header{
        position: relative;
        padding-block: 16px;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
        margin-bottom: 67px;
    }

    /* .header.active{
        position: relative;
        box-shadow: none;
    } */

    .header .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .header-search{
        display: block;
        position: relative;
        width: max-content;
    }

    .header-search .input-field{
        border: 1px solid hsla(0, 0%, 0%, 0.1);
        width: 280px;
        padding: 12px 30px;
        border-radius: 6px;
        transition: 0.25s ease;
    }

    .header-search .input-field:focus{
        outline: 1px solid hsl(0, 0%, 9%);
    }

    .header-search .search-btn{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: -20px;
        color: hsl(0, 0%, 9%);
    }

    .header-search .search-btn ion-icon{
        --ion-icon-stroke-width: 30px;
    }

    .header .logo{
        margin-inline: auto;
    }

    .nav-open-btn, .header-action-btn:nth-child(2), .navbar-top, .overlay{
        display: none;
    }

    .header-actions{
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
    }

    .navbar{
        all: unset;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        background: hsl(0, 0%, 100%);
    }

    .header.active{
        position: fixed;
        top: 0;
        box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.1);
    }

    .navbar-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .navbar-list > li:not(:last-child){
        border-bottom: none;
    }

    .navbar-link{
        font-size: 1.125rem;
        font-weight: 500;
        padding-block: 20px;
    }

    .navbar-link:is(:hover, :focus){
        color: hsl(176, 35%, 63%);
    }

    /* Category section */

    .category-list > li:not(:first-child, :nth-child(2)){
        width: calc(25% - 22.5px);
    }

    /* Product section */

    .product-list > li{
        width: calc(33.33% - 16.66px);
    }

    .product-card .card-actions{
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        transform: translateY(100px);
        visibility: hidden;
        transition: 0.25s ease;;
    }

    .product-card .card-banner{
        overflow: hidden;
    }

    .product-card .card-banner:hover .card-actions{
        visibility: visible;
        transform: translateY(0);
    }

    .product-card .card-action-btn:first-child{
        border-radius: 6px 0 0 6px;
    }

    .product-card .card-action-btn:last-child{
        border-radius: 0 6px 6px 0;
    }

    /* Newsletter section */

    .newsletter-card .card-form{
        max-width: 650px;
    }
}

/* Responsive for larger than 1200px screen */

@media(min-width: 1200px){
    
    /* reused style */

    .container{
        max-width: 1150px;
    }

    /* header */

    .header-search .input-field{
        width: 350px;
    }

    /* Product section */

    .product-list > li{
        width: calc(25% - 18.75px);
    }

    /* footer */

    .footer-brand{
        width: calc(40% - 30px);
    }

    .footer-text{
        max-width: 340px;
    }

    .footer-list{
        width: calc(20% - 30px);
    }

    .footer-bottom .container{
        justify-content: space-between;
    }
}
