/*=============== REUSED STYLE ===============*/

table{
    width: 100%;
    border-collapse: collapse;
}

.container--checkout{
    max-width: 1320px;
    margin-inline: auto;
    padding-inline: 0.75rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section--lg{
    padding-block: 6.9rem;
}

.section__title{
    font-size: 1.375rem;;
    margin-bottom: 1.5rem;
}

.form{
    row-gap: 1rem;
}

/*=============== CHECKOUT ===============*/

.checkout__container{
    grid-template-columns: repeat(2, 1fr);
}

