.newsletter{
    padding: 40px 0;
}

.newsletter-card{
    background-image: url("https://i.postimg.cc/Qx5Kyppd/newsletter-bg.png");
    background-color: hsl(0, 0%, 96%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 80px 15px;
    text-align: center;
}

.newsletter-card .card-title{
    color: hsl(0, 0%, 9%);
    font-size: 1.625rem;;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
}

.newsletter-card .card-text{
    margin-bottom: 30px;
}

.newsletter-card .input-wrapper{
    position: relative;
    margin-bottom: 20px;
}

.newsletter-card .input-wrapper ion-icon{
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.newsletter-card .input-field{
    background: hsl(0, 0%, 100%);
    height: 60px;
    padding-inline: 50px 20px;
    border-radius: 6px;
}

.newsletter-card .btn{
    gap: 10px;
}