.filter-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 20px;
    margin-bottom: 50px;
}

.filter-btn{
    color: inherit;
    font-size: 1.125rem;
    font-weight: 500;
}

.filter-btn.active{
    color: hsl(176, 35%, 63%);
}

.product .btn{
    margin-inline: auto;
}