/* Header */

.header-search{
    display: none;
}

/* .header-actions, .navbar */

.header{
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(0, 0%, 100%);;
    width: 100%;
    padding-block: 20px;
    z-index: 4;
    transition: 0.25s ease;
}

.header.active{
    position: fixed;
    box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-open-btn{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
}

.nav-open-btn span{
    width: 20px;
    height: 2px;
    background: hsl(0, 0%, 0%);
    transition: 0.25s ease;
}

.nav-open-btn span:nth-child(2){
    transform: scaleX(0.5);
    transform-origin: right;
}

.nav-open-btn:is(:hover, :focus) span:nth-child(2){
    transform: scaleX(1);
}

.header-actions{
    background: hsl(0, 0%, 100%);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding-block: 16px 10px;
    box-shadow: 0 -2px 20px hsla(0, 0%, 0%, 0.1);
    z-index: 1;
}

.header-action-btn .btn-badge{
    position: absolute;
    top: -5px;
    right: 0;
    background: var(--background, hsl(0, 0%, 9%));
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    line-height: 0;
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    border-radius: 50%;
} 

.header-action-btn .btn-badge.green{
    --background: hsl(176, 35%, 63%);
}

.navbar{
    background: hsl(0, 0%, 100%);
    position: fixed;
    top: 0;
    right: -300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 30px 25px;
    z-index: 3;
    visibility: hidden;
    transition: 0.2s cubic-bezier(0.51, 0.03, 0.64, 0.28);;
}

.navbar.active{
    visibility: visible;
    transform: translateX(-300px);
    transition: 0.5s cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

.navbar-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.nav-close-btn ion-icon{
    font-size: 23px;
}

.navbar-link{
    padding-block: 10px;
    color: hsl(0, 0%, 9%);
}

.navbar-list > li:not(:last-child){
    border-bottom: 1px solid hsl(0, 0%, 96%);
}

.overlay{
    position: fixed;
    inset: 0;
    background: hsl(0, 0%, 0%);
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
    z-index: 2;
}

.overlay.active{
    opacity: 0.7;
    pointer-events: all;
}